/* ChatPage container */
body{
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0;
    background-color: #EDE4D7;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

/* list area */

.list-part{
    display: flex;
    flex-direction: column;
}

.list-part-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: solid 1px #050505;
}

.list-part-rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

.message-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.message{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:80%
}

.avatar-image{
    display: flex;
    flex-direction: row;
}

.avatar-image img{
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    border-radius: 50%; /* Create a circular shape */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-right: 10px;
}

.avatar-image i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.avatar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-height: 50px; /* Set the maximum height */
    overflow: hidden;
}

.avatar-name,
.avatar-seen{
    margin: 0; /* Remove default margins */
}

.avatar-owner{    
    display: flex;
    margin: 0px;
    justify-content: center;
    text-align: right;
    max-height: 50px; 
    overflow: hidden;
}

.list-part-btn{
    background: transparent;
    border: none;
    color: #EF823F;
    font-size: large;
}

.notify-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    background-color: #EF823F;
    color: #fff;
}

/* Chat area */

.chat-part {
    border-left: 1px solid #141313;
    border-right: 1px solid #141313;
    height: 100vh;
    background-image: url("./img/sanjob.png");
}

.chat-image{
    display: flex;
    flex-direction: row;
}

.chat-image img{
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    border-radius: 50%; /* Create a circular shape */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-right: 10px;
}

.chat-image i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.chat-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-height: 50px; /* Set the maximum height */
    overflow: hidden;
}

.chat-name{
    margin: 0; /* Remove default margins */
}

.chats {
    display: flex;
    flex-direction: column;
    list-style: none; 
    padding: 0; 
}


.chats li{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.chats img{
    margin-top: 50px;
}

.chat-messages {
    margin: 5px;
    background-color: #6A7B47;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;

    overflow-y: auto;
}

.your-message {
    margin: 5px;
    background-color: #EF823F;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    overflow-y: auto;
}

.chats h4{
    margin: 0;
    color: #cbcaca;
}

.chats p{
    margin: 0;
}

.chats span{
    margin: 0;
    color: #cbcaca;
    font-size: x-small;
}

.chat-input-form {
    background-color: transparent; /* Background color for the chat input */
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 25px;
}

.chat-input-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #EDE4D7;
    border-radius: 15px;
    margin-right: 10px;
    width: 650px
}

.chat-input-form button {
    width: 40px;
    text-align: center;
    padding: 13px 0px;
    background-color: #6A7B47;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* member eara */
.members{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #050505;
    text-align: center;
    padding-bottom: 10px;
}

.members h3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    border-bottom: solid 1px #050505;
}

.members-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: -20px 0px -10px 25px;
    color: #EF823F;
}

.members-row{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0px 30px;
    width:80%
}

/* media eara */
.media-title h3{
    display: flex;
    justify-content: center;
    margin: 10px 0px;

}
#colorChangeButton{
    border: 0px;
    background-color: transparent;
    color: #050505;
}

#colorChangeButton.clicked {
    background-color: #e74c3c; /* Color after click */
}

.media-part {
    background-color: transparent; /* Background color for the chat input */
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.photos{
    width: 60PX;
    height: 60PX;
}